<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <title>¡Hola! Ingresá tu usuario</title>
</head>
<body>
    <header>
        <h1><a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Imagen de Mercado Liebre"></a></h1>
        <h6>Lugar para poner la barra de búsqueda</h6>
        <h3><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
        <ul>
            <li>Ofertas</a></li>
            <li><a href="/oficialStores">Tiendas Oficiales</a></li>
            <li><a href="/sell">Vender</a></li>
            <li><a href="/help">Ayuda</a></li>
        </ul>
    
        <ul>
            <li><a href="/register">Creá tu Cuenta</a><i class="far fa-address-card"></i></li>
            <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="/cart">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>
    </header>


    
    <main>
        <img height="75x" src="/images/img-home-banner.jpg" alt="Banner">

        <div>
            <h1>
              <a href="/"><img id="noExiste" src="/images/404gif.gif" alt="404"></a>
            </h1>
            <h4 align ="center">Parece que esta página no existe</h4>
            <h5 align ="center"><a href="/">Ir a la página principal</a></h5>
        </div>    
    </main>



    <footer>
        <i class="fas fa-credit-card" style="color: #1259c3"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>

        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p><br>

        <i class="fas fa-gift" style="color: #1259c3"></i>
        <h3>Envio gratis desde los $1.990</h3>

        <p>Solo por estar registrado en MercadoLiebre tenés envios gratis en miles de productos. Es un beneficio de MercadoPuntos</p><br>

        <i class="fas fa-user-shield" style="color: #1259c3"></i>
        <h3>Seguridad de principio a fin</h3>

        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegido.</p><br>

        <h6>Copiright © 1999-2019 MercadoLiebre S.R.L.</h6>
    </footer>
</body>
</html>