<!DOCTYPE html>
<html lang="es">
<head>
    <!-- para que funciones los acentos y ñ -->
    <meta charset="UTF-8">
    <!-- para que sirva en mobile y desktop, tamaño 360x672 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icono en pestaña -->
    <link rel="icon" href="/images/favicon.ico">
    <!-- para que funcione css, al usar node tiene que ser un path desde css nomas sino es con node es desde la base -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- letras -->
    <!-- https://fonts.google.com -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- iconos en pagina -->
    <!-- https://fontawesome.com/icons?d=gallery&q=safe&m=free -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    
    <title>Mercado Liebre Argentina</title>
</head>
<body>
    <header>
      <section>
        <a href="/"><img class="logoMeli" src="/images/logo-mercado-liebre.svg" alt="Imagen de Mercado Liebre"></a>
      </section>
      
      <form class="busqueda">
        <input class="form-control"  type="text" placeholder="Buscar productos" aria-label="Search">
        <button type="submit" class="icoLu"><i class="fas fa-search"></i></button>
        <!-- <span class="icoLu"><i class="fas fa-search"></i></span> -->
      </form>  

     

      <p><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de crédito</p>


      <nav id="menu">
        <button type="menu" id="butoMenu"><i class="fas fa-bars"></i></button>
      </nav>

      
      <!-- TIENE QUE ESTAR EN HIDDEN LA BARRA DE NAVEGACIÓN -->
      <!-- <nav hidden> -->
      <!-- o es css display: none; -->
      <nav>  
        <ul>
          <!-- para linkear en la misma pagina donde dice ofertas -->
          <li><a href="#ofertas">Ofertas</a></li>
          <li><a href="/oficialStores">Tiendas Oficiales</a></li>
          <li><a href="/sell">Vender</a></li>
          <li><a href="/help">Ayuda</a></li>
        </ul>
      
        <ul>
          <li><a href="/register">Creá tu Cuenta</a><i class="far fa-address-card"></i></li>
          <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
          <li><a href="/cart">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>
      </nav>
    </header>
    

    <section>
      <img class="homeBanner" src="/images/img-home-banner.jpg" alt="Banner">
    </section>
    

    <main>
      <section class="principal">
        <h3 id="basado">Basado en tu última visita</h3>
        
        <article class="productos">
          <!-- use article para hacer los separadores por cada elemento y asi se pueda poner fondo de un color y no se aplique al fondo de cada elemento -->
          
          <img height="300px" src="/images/img-cafetera-moulinex.jpg" alt="cafetera" class="imagen">
          <hr class="borderAbajo">
          <div>
           <span class="iconos"><i col class="fas fa-truck"></i></span>
           <p class="precios">$6.770</p>
           <p class="descuentos">40% off</p>
           <p class="descripciones"><b>Cafetera Moulinex Dolce Gusto</p>
          </div>
        </article>


        <article class="productos">
          <img height="300px" src="/images/img-macbook-pro-2019.jpg" alt="mac" class="imagen">
          <hr class="borderAbajo">
          <div>
           <span class="iconos"><i col class="fas fa-truck"></i></span>
           <p class="precios">$150,970</p>
           <p class="descuentos">10% off</p>
           <p class="descripciones"><b>MacBook Pro 2019</p>
          </div>
        </article>


        <article class="productos">
          <img height="300px" src="/images/img-samsung-galaxy-s10.jpg" alt="telefono" class="imagen">
          <hr class="borderAbajo">
          <div>
           <span class="iconos"><i col class="fas fa-truck"></i></span>
           <p class="precios">$89.410</p>
           <p class="descuentos">20% off</p>
           <p class="descripciones"><b>Teléfono Móvil Samsung Galaxy S10</p>
          </div>
        </article>


        <article class="productos">
          <img height="300px" src="/images/img-tv-samsung-smart.jpg" alt="televisor" class="imagen">
          <hr class="borderAbajo">
          <div>
            <span class="iconos"><i col class="fas fa-truck"></i></span>
            <p class="precios">$54.230</p>
            <p class="descuentos">40% off</p>
            <p class="descripciones"><b>SmartTV Samsung 43"</p>
          </div>
        </article>

      </section>

      <section class="principal">
          <h3 id="ofertas">Ofertas</h3>
    
          <article class="productos">
            <!-- use article para hacer los separadores por cada elemento y asi se pueda poner fondo de un color y no se aplique al fondo de cada elemento -->
            
            <img height="300px" src="/images/img-cafetera-moulinex.jpg" alt="cafetera" class="imagen">
            <hr class="borderAbajo">
            <div>
             <span class="iconos"><i col class="fas fa-truck"></i></span>
             <p class="precios">$6.770</p>
             <p class="descuentos">40% off</p>
             <p class="descripciones"><b>Cafetera Moulinex Dolce Gusto</p>
            </div>
          </article>
  
  
          <article class="productos">
            <img height="300px" src="/images/img-macbook-pro-2019.jpg" alt="mac" class="imagen">
            <hr class="borderAbajo">
            <div>
             <span class="iconos"><i col class="fas fa-truck"></i></span>
             <p class="precios">$150,970</p>
             <p class="descuentos">10% off</p>
             <p class="descripciones"><b>MacBook Pro 2019</p>
            </div>
          </article>
  
  
          <article class="productos">
            <img height="300px" src="/images/img-samsung-galaxy-s10.jpg" alt="telefono" class="imagen">
            <hr class="borderAbajo">
            <div>
             <span class="iconos"><i col class="fas fa-truck"></i></span>
             <p class="precios">$89.410</p>
             <p class="descuentos">20% off</p>
             <p class="descripciones"><b>Teléfono Móvil Samsung Galaxy S10</p>
            </div>
          </article>
  
  
          <article class="productos">
            <img height="300px" src="/images/img-tv-samsung-smart.jpg" alt="televisor" class="imagen">
            <hr class="borderAbajo">
            <div>
              <span class="iconos"><i col class="fas fa-truck"></i></span>
              <p class="precios">$54.230</p>
              <p class="descuentos">40% off</p>
              <p class="descripciones"><b>SmartTV Samsung 43"</p>
            </div>
          </article>
        </section>
    </main>

    
    
    <footer>
      <article class="piePagina">
        <i class="fas fa-credit-card" style="color: #1259c3"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
      </article>

      <article class="piePagina">
        <i class="fas fa-gift" style="color: #1259c3"></i>
        <h3>Envio gratis desde los $1.990</h3>
        <p>Solo por estar registrado en MercadoLiebre tenés envios gratis en miles de productos. Es un beneficio de MercadoPuntos</p>
      </article>

      <article class="piePagina">
        <i class="fas fa-user-shield" style="color: #1259c3"></i>
        <h3>Seguridad de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegido.</p>
      </article>
      
      <div class="copyright">Copyright © 1999-2019 MercadoLiebre S.R.L.</div>
    </footer>
</body>
</html>


<!-- HAY QUE COPIAR LOS HEADER EN LOS DEMAS PAGINAS -->
<!-- COPIAR LA PRIMERA SECCION -BASADO EN- EN LA SEGUNDA -OFERTAS- -->
<!-- HACER REGISTER  -->
<!-- HACER LOGIN  -->