<!DOCTYPE html>
<html lang="es">
<head>
    <!-- para que funciones los acentos y ñ -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icono en pestaña -->
    <link rel="icon" href="/images/logo.png">
    <!-- para que funcione css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- iconos en pagina -->
    <!-- https://fontawesome.com/icons?d=gallery&q=safe&m=free -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!-- letras -->
    <!-- https://fonts.google.com -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <h1><img src="/images/logo-mercado-liebre.svg" alt="Imagen de Mercado Liebre"></h1>
        <h6>Lugar para poner la barra de búsqueda</h6>
        <h3><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
        <ul>
            <li><a href="#ofertas">Ofertas</a></li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
    
        <ul>
            <li>Creá tu cuenta <i class="far fa-address-card"></i></li>
            <li>Ingresá <i class="fas fa-sign-in-alt"></i></li>
            <li >Mis compras <i class="fas fa-shopping-basket"></i></li>
        </ul>
    </header>
   
    <img height="75x" src="/images/img-home-banner.jpg" alt="Banner">
    

    <h3 id="basado">Basado en tu última visita</h3><br>

    <div>
        <i col class="fas fa-truck" style="color: #39b54a"></i>
        <img height="300px" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
        <p class="precios">$6.770</p>
        <p class="descuentos">40% off</p>
        <p class="descripciones"><b>Cafetera Moulinex Dolce Gusto</b></p>
    </div><br>

    <div>
        <i col class="fas fa-truck" style="color: #39b54a"></i>
        <img height="300px" src="/images/img-macbook-pro-2019.jpg" alt="mac">
        <p class="precios">$150,970</p>
        <p class="descuentos">10% off</p>
        <p class="descripciones"><b>MacBook Pro 2019</b></p>
    </div><br>

    <div>
        <i col class="fas fa-truck" style="color: #39b54a"></i>
        <img height="300px" src="/images/img-samsung-galaxy-s10.jpg" alt="mac">
        <p class="precios">$89.410</p>
        <p class="descuentos">20% off</p>
        <p class="descripciones"><b>Teléfono Móvil Samsung Galaxy S10</b></p>
    </div><br>

    <div>
        <i col class="fas fa-truck" style="color: #39b54a"></i>
        <img height="300px" src="/images/img-tv-samsung-smart.jpg" alt="televisor">
        <p class="precios">$54.230</p>
        <p class="descripciones"><b>SmartTV Samsung 43"</b></p>
    </div><br>


    <h3 id="ofertas">Ofertas</h3><br>
    
    <div>
        <i col class="fas fa-truck" style="color: #39b54a"></i>
        <img height="300px" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
        <p class="precios">$6.770</p>
        <p class="descuentos">40% off</p>
        <p class="descripciones"><b>Cafetera Moulinex Dolce Gusto</b></p>
    </div><br>

    <div>
        <i col class="fas fa-truck" style="color: #39b54a"></i>
        <img height="300px" src="/images/img-macbook-pro-2019.jpg" alt="mac">
        <p class="precios">$150,970</p>
        <p class="descuentos">10% off</p>
        <p class="descripciones"><b>MacBook Pro 2019</b></p>
    </div><br>

    <div>
        <i col class="fas fa-truck" style="color: #39b54a"></i>
        <img height="300px" src="/images/img-samsung-galaxy-s10.jpg" alt="mac">
        <p class="precios">$89.410</p>
        <p class="descuentos">20% off</p>
        <p class="descripciones"><b>Teléfono Móvil Samsung Galaxy S10</b></p>
    </div><br>

    <div>
        <i col class="fas fa-truck" style="color: #39b54a"></i>
        <img height="300px" src="/images/img-tv-samsung-smart.jpg" alt="televisor">
        <p class="precios">$54.230</p>
        <p class="descripciones"><b>SmartTV Samsung 43"</b></p>
    </div><br>

    
    <div>
        <i class="fas fa-credit-card" style="color: #1259c3"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>

        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p><br>

        <i class="fas fa-gift" style="color: #1259c3"></i>
        <h3>Envio gratis desde los $1.990</h3>

        <p>Solo por estar registrado en MercadoLiebre tenés envios gratis en miles de productos. Es un beneficio de MercadoPuntos</p><br>

        <i class="fas fa-user-shield" style="color: #1259c3"></i>
        <h3>Seguridad de principio a fin</h3>

        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegido.</p><br>

        <h6>Copiright © 1999-2019 MercadoLiebre S.R.L.</h6>
    </div>
</body>
</html>