<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <title>Mercado Liebre</title>
</head>
<body>
    <h1><img src="/images/logo-mercado-liebre.svg" alt="Imagen de Mercado Liebre"></h1>
    <h6 align ="center" >Lugar para poner la barra de búsqueda</h6>
    <h3 align ="center">Comprá en cuotas y sin tarjeta de crédito</h3>
    <ul>
        <li><a href="#Ofertas">Ofertas</a></li>
        <li>Tiendas Oficiales</li>
        <li>Vender</li>
        <li>Ayuda</li>
    </ul>

    <ul>
        <li>Creá tu cuenta</li>
        <li>Ingresá</li>
        <li>Mis compras</li>
    </ul>
    <img height="66px" src="/images/img-home-banner.jpg" alt="Banner">

    <h3 align ="center">Basado en tu última visita</h3> 
    <img height="300px" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
    <p>$6.770</p>
    <p>40% off</p>
    <p><b>Cafetera Moulinex Dolce Gusto</b></p>


    <img height="300px" src="/images/img-macbook-pro-2019.jpg" alt="mac">
    <p>$150,970</p>
    <p>10% off</p>
    <p><b>MacBook Pro 2019</b></p>

    <img height="300px" src="/images/img-samsung-galaxy-s10.jpg" alt="mac">
    <p>$89.410</p>
    <p>20% off</p>
    <p><b>Teléfono Móvil Samsung Galaxy S10</b></p>

    <img height="300px" src="/images/img-tv-samsung-smart.jpg" alt="televisor">
    <p>$54.230</p>
    <p><b>SmartTV Samsung 43"</b></p><br>


    <h3 id="Ofertas" align ="center">Ofertas</h3>
    
    <img height="300px" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
    <p>$6.770</p>
    <p>40% off</p>
    <p><b>Cafetera Moulinex Dolce Gusto</b></p>

    <img height="300px" src="/images/img-macbook-pro-2019.jpg" alt="mac">
    <p>$150,970</p>
    <p>10% off</p>
    <p><b>MacBook Pro 2019</b></p>

    <img height="300px" src="/images/img-samsung-galaxy-s10.jpg" alt="mac">
    <p>$89.410</p>
    <p>20% off</p>
    <p><b>Teléfono Móvil Samsung Galaxy S10</b></p>

    <img height="300px" src="/images/img-tv-samsung-smart.jpg" alt="televisor">
    <p>$54.230</p>
    <p><b>SmartTV Samsung 43"</b></p><br><br>


    <h3 align ="center">Pagá con tarjeta o en efectivo</h3>

    <p align ="justify">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

    <h3 align ="center">Envio gratis desde los $1.990</h3>

    <p align ="justify">Solo por estar registrado en MercadoLiebre tenés envios gratis en miles de productos. Es un beneficio de MercadoPuntos</p>

    <h3 align ="center">Seguridad de principio a fin</h3>

    <p align ="justify">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegido.</p>

    <h6 align ="center">Copiright © 1999-2019 MercadoLiebre S.R.L.</h6>

</body>
</html>