<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <title>Ingresá</title>
</head>
<body>
    <header>
        <h1><a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Imagen de Mercado Liebre"></a></h1>
        <h6>Lugar para poner la barra de búsqueda</h6>
        <h3><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
        <ul>
            <!-- para linkear en la misma pagina donde dice ofertas -->
            <li>Ofertas</a></li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
    
        <ul>
            <li><a href="/register">Creá tu Cuenta</a><i class="far fa-address-card"></i></li>
            <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
            <li>Mis Compras <i class="fas fa-shopping-basket"></i></li>
        </ul>
    </header>


    
    <section>
        <img height="75x" src="/images/img-home-banner.jpg" alt="Banner">

        <!-- ver de poner post en vez de get, deberia ser asi y no en post -->
        <form action="/" method="GET">
            <p>
                <input type="text" name="username" id="username" placeholder="Nombre de Usuario">
            </p>
            <p>
                <input type="password" name="password" id="password" placeholder="Elegí tu contraseña">
            </p>
            <p>
                <button type="submit">Enviar</button> 
            </p>
        </form>
    </section>



    <footer>
        <i class="fas fa-credit-card" style="color: #1259c3"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>

        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p><br>

        <i class="fas fa-gift" style="color: #1259c3"></i>
        <h3>Envio gratis desde los $1.990</h3>

        <p>Solo por estar registrado en MercadoLiebre tenés envios gratis en miles de productos. Es un beneficio de MercadoPuntos</p><br>

        <i class="fas fa-user-shield" style="color: #1259c3"></i>
        <h3>Seguridad de principio a fin</h3>

        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegido.</p><br>

        <h6>Copiright © 1999-2019 MercadoLiebre S.R.L.</h6>
    </footer>
</body>
</html>