
body{
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #EAC926;
}

main {
    
}

footer{
    color: #666;
}

#noExiste {
    height: 280px;
    position: relative;
    left: 25%;
    margin-left: -55px;
} 

div{
    background-color: white;
}

#basado {
    font-size: 24px;
}

#ofertas {
   font-size: 24px;
}

.precios {
    font-size: 18px;
}

.descuentos{
    font-size: 16px;
    color: #39b54a;
}

.descripciones {
    font-size: 16px;
}

p {
    font-size: 12px;
    text-align: justify;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

li{
    
}

h1 {

}

h3 {
    text-align: center;
}

h6 {
    text-align: center;
}


/* pagina register.html */
.regnegrita {
    font-weight: bold;
}