
/* siempre hacer esto para que las cajas tengan el tamaño de la pantalla */
* {
    box-sizing: border-box;
}

:root {
    --default-padding: 0px;
    --default-margin: 0px;
}



/* --------------------------------- */
/* BODY  */

body{
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}




/* --------------------------------- */
/* HEADER  */

header {
    background-color: #EAC926;
    display: flex;
    flex-wrap: wrap;
    margin: 0; 
}

.logoMeli {
    position: absolute;
    width: 50%;  
    align-self: start; 
}

.busqueda {
    position: relative;
    width: 46%;
    left: 53%;
    /* float: left; */
}

.form-control {
    width: 100%;
}

#menu {
    order: 1;
    height: 60px;
    padding: 10px;
    margin: 20px 0px;
    /* align-self: center; */
}



#butoMenu {
    background-color: #0044AA;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    cursor:pointer;
}

.icoLu {
    background-color: white;
    border-radius: 4px;
    border: solid thin;
}

/* AVERIGUAR PORQ NO SE CAMBIA DE COLOR MIENTRAS HAGO HOVER SOBRE EL BOTÓN EN FIREFOX Y SI EN SAFARI Y PORQ NO APARECEN IMÁGENES EN UNO Y OTRO SI!!!! */
#butoMenu:hover {
    background-color: #0022AA;
}




/* --------------------------------- */
/* MAIN  */

main {
    
}

.homeBanner {
    width: 100%;
}

div{
    background-color: white;
}

.principal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

#basado, #ofertas {
    font-size: 24px;
    text-align: center;
    width: 90%;
    color: #666;
    margin: 20px 0px;
}

.productos {
    background-color: white;
    padding: 15px;
    margin: 20px 0px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.imagen {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-self: center;
}

.iconos {
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    border-radius: 20px;
    border: solid thin;
    color: #39b54a;
    z-index: 1;
    position: relative;
    justify-content: center;
    width: 30px;
    align-items: center;
    left: 85%;
    bottom: -40px;

}

.precios {
    font-size: 18px;
    width: 30%;
    border-top: 1px solid #ebebeb;
    order: 1;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: -1.5%;

}

.descuentos{
    font-size: 16px;
    color: #39b54a;
    width: 70%;
    border-top: 1px solid #ebebeb;
    order: 1;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 10%;
    right: -30%;
}

.descripciones {
    font-size: 16px;
    color: #666;
    display: flex;
    flex-wrap: wrap;
    order: 3;
    position: relative;

}

p {
    font-size: 12px;
    text-align: justify;
}

ul {
    list-style-type: none;
}

h6 {
    text-align: center;
}




/* --------------------------------- */
/* FOOTER  */

footer {
    background-color: white;
    color: #666;
    padding: 20px 5%;
}

a {
    text-decoration: none;
    color: black;
}

.piePagina {
    margin: 20px 0px;
}

.copyright {
    font-size: x-small;
    text-align: center;
}



/* --------------------------------- */
/* --------------------------------- */
/* LOGIN.HTML */

.cajaLogin {
    padding: 0px 20px;
}

.ingreso {
    width: 100%;
    border-style: none;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
}

#botonIngreso {
    width: 100%;
    border-style: none;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    color: white;
    background-color: #0044AA;
}

#botonIngreso:hover {
    background-color: #0022AA;
}




/* --------------------------------- */
/* --------------------------------- */
/* REGISTER.HTML */

#botonReseteo {
    width: 100%;
    border-style: none;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    color: white;
    background-color: #AA0044;
}

#botonReseteo:hover {
    background-color: #CC1155;
}

.regnegrita {
    font-weight: bold;
}

.usuario {
    display: flex;
    flex-wrap: wrap;
}

.labb {
    display: flex;
    flex-wrap: wrap;
    display: block;
    padding-left: 50px;
    position: relative;
}

.checks {
    display: flex;
    flex-wrap: wrap;
    bottom: 100px;
    position: absolute;
}


/* --------------------------------- */
/* --------------------------------- */
/* 404.HTML */

#noExiste {
    height: 280px;
    position: relative;
    left: 25%;
    margin-left: -55px;
} 